.order-data {
    margin: 0 10px 10px;
    flex-shrink: 0;
}

.order-data th {
    text-align: left;
    padding-right: 10px;
    font-weight: 600;
}

.order-data td {
    line-height: 20px;
    word-break: break-word;
}

.order-data td * {
    font-size: 16px;
    padding: 0;
}

.order-data td .input {
    height: 16px;
    width: 100px;
}

.comment {
    margin: 0 5px;
    padding: 5px 5px;
    box-sizing: border-box;
    max-height: 100px;
    overflow-y: auto;

    font-size: 16px;

    word-break: break-word;
    white-space: pre-wrap;
    resize: none;
}

div.comment {
    border-top: #e1e4e8 solid 1px;
}
