.app-header {
    background-color: #fafbfc;
    border-bottom: #e1e4e8 solid 1px;
    flex: 0 0 48px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-name-container,
.controls {
    width: 30%;
}

.app-name {
    font-size: 24px;
}

.tabs {
    flex-shrink: 0;
    margin-bottom: -15px;
}
