.order-creation-inputs {
    display: flex;
    flex-direction: column;
}

.order-creation-inputs .input-row {
    margin-bottom: 10px;
}

.order-creation-inputs .input-row:last-child {
    margin-bottom: 0;
}

.input-row .input-label {
    display: inline-block;
    width: 150px;
}

.input-row .input,
.input-row {
    font-size: 16px;
}

.input-row .input {
    width: 160px;
    box-sizing: border-box;
}

.order-creation-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.color {
    position: relative;
}

.color .input {
    height: 24px;
}

.color .color-picker-container {
    right: -180px;
    top: -54px;
}
