.order-container{
    padding-right: 10px;
    background-color: transparent;
    flex-shrink: 0;
}

.order-card {
    padding: 5px 5px 0;

    border-bottom: white solid 5px;
    border-radius: 5px;

    background-color: white;
    box-shadow: 0 0 0 1px #e1e4e8, 0 2px 2px #e1e4e8;

    display: flex;
    flex-direction: column;

    border-collapse: collapse;

    max-width: 250px;
    overflow-x: auto;
}

.order-card header {
    flex-shrink: 0;
}

.order-card header {
    display: flex;
    justify-content: space-between;
}
