.order-container{
    padding-right: 10px;
    background-color: transparent;
    flex-shrink: 0;
}

.order {
    padding: 5px;

    border: #e1e4e8 solid 1px;
    border-radius: 5px;

    background-color: white;
    box-shadow: 0 1px 1px rgba(27,31,35,.1);

    display: flex;
    flex-direction: column;

    border-collapse: collapse;
}

.order-data td * {
    font-size: 16px;
    padding: 0;
}

.order header, .order-data {
    flex-shrink: 0;
}

.order header {
    display: flex;
    justify-content: space-between;
}

.order-data {
    margin: 0 10px 10px;
}

.order-data th {
    text-align: left;
    padding-right: 10px;
    font-weight: 600;
}

.order-buttons button {
    background-color: transparent;
    outline: none;
    padding: 0;
    margin-left: 5px;
    border: none;
}

.order-buttons button:active {
    opacity: 0.5;
}