.day {
    margin: 5px 0 15px;
}

.date, .day-data {
    border: #e1e4e8 solid 1px;
    background-color: #eff1f3;
}

.orders {
    min-height: 10px;
    overflow-x: auto;
    display: flex;
    padding: 10px;
    flex: 1 1 auto;
    border-right: #e1e4e8 1px solid;
}

.orders:empty {
    background-image: url(../../../images/plus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.day-data {
    display: flex;
    border-radius: 0 10px 10px 10px;
    overflow: hidden;
}