.day {
    margin: 5px 10px 15px;
}

.date, .day-data {
    border: #e1e4e8 solid 1px;
    background-color: #eff1f3;
}

.date {
    display: inline-block;
    position: relative;
    z-index: 2;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 5px 10px 1px;
    margin-bottom: -1px;
    font-weight: 600;
}

.orders {
    min-height: 10px;
    overflow-x: auto;
    display: flex;
    padding: 10px;
    flex: 1 0 auto;
}

.orders:empty {
    background-image: url(../../../images/plus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.day-data {
    display: flex;
    border-radius: 0 10px 10px 10px;
    overflow: hidden;
}