.order-buttons button {
    background-color: transparent;
    outline: none;
    padding: 0;
    margin-left: 5px;
    border: none;
}

.order-buttons button:active {
    opacity: 0.5;
}

.order-buttons button:hover {
    opacity: 0.7;
}

.order-buttons .color-picker {
    font-size: 0;
    position: relative;
}
