.done-orders-section {
    border: #d1d5da solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.done-orders-header,
.done-orders-body {
    padding: 5px 10px;
}

.done-orders-header {
    display: flex;
    align-items: center;
    border-bottom: #e1e4e8 solid 1px;
    background-color: #f6f8fa;
    font-weight: 600;
}

.done-orders-header .expand-button {
    margin-left: auto;
}

.done-orders-body .day:last-child {
    margin-bottom: 5px;
}

.done-orders-statistics .color-counts {
    justify-content: flex-start;
    margin: 30px 0 5px;
}

.done-orders-sums {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.done-orders-sums * {
    text-align: center;
    width: 30%;
}

.done-orders-sums *:first-child {
    text-align: left;
}

.done-orders-sums *:last-child {
    text-align: right;
}
