.done-orders-section {
    border: #e1e4e8 solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.done-orders-header,
.done-orders-body {
    padding: 5px 10px;
}

.done-orders-header {
    display: flex;
    align-items: center;
    border-bottom: #e1e4e8 solid 1px;
    background-color: #f6f8fa;
    font-weight: 600;
}

.done-orders-header .expand-button {
    margin-left: auto;
}

.done-orders-body .day:last-child {
    margin-bottom: 5px;
}